@layer components {
.dark-bg{
    color: #0b5f7d;
}
.light-bg{
    color: #04759c; 
}
.c-bg-hover:hover{
  background-color: #0c94c114; 
}
.bg-color{
    background: linear-gradient(to bottom, #0b5f7d, #04759c);
}
.mb-bg-color{
  background : linear-gradient(to bottom, #0b5f7d, #04759c);
}
.overline{
  text-decoration: overline;
}
/* .btn-bg{
    background-color: #0b5f7d;
} */
/* .img-width {
    width: 18rem; 
} */
.carousel-container {
  position: relative;
  width: 25rem;
  border-radius: 1rem;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  flex-shrink: 0;
}

.carousel-indicators {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: transparent;
  border: 2px solid white !important;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}
.custom-width {
  width: 25rem;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.slide-indicator {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  color: red !;
}
.custom-width {
  width: 25rem; 
}


.hidden-on-mobile {
    display: none;
  }

.c-text-xs {
  font-size: .6rem;
}



}

@layer utilities {

  @media (min-width: 640px) {
    .custom-width {
      width: 30rem; 
    }
  }

  @media (min-width: 1024px) {
    .hidden-on-mobile {
      display: flex;
    }
  }
  
  @media (min-width: 1024px) {
    .mb-bg-color {
      background: transparent;
    }
  }

@media (min-width: 640px) { 
    .width {
        width: 22rem; 
    }
}
@media (min-width: 1024px) {
    .lg-light-bg {
      color: #04759c
    }
  }

  @media (min-width: 640px) {
    .carousel-container {
      width: 30rem;
      height: 16.875rem;
    }
  }
  
  @media (min-width: 1024px) {
    .carousel-container {
      width: 50rem;
      height: 28.125rem;
    }
  }
}